In [1]:
# Here we are trying to automate 002 part
import pandas as pd 
import os
import numpy as np 
import psycopg2 as pg

In [2]:
# Find file in directory
!ls

001-ImportCSVtoDfToDatabase.ipynb       003-CopyCSVDataToDatabaseAutomate.ipynb
002-ImportCSVToDatabaseAutomate.ipynb   customer_contracts.csv

In [5]:
# find file in current dir
# look for csv and ignore others
# make a new directory 
# move csv file new directory
os.listdir('../data/')

['csv_import_functions.py',
 'Customer Contracts$.csv',
 'Customer Demo.csv',
 'Customer Engagements.csv',
 'survey_results_public.csv',
 'survey_results_schema.csv']

In [22]:
csv_files = []
for file in os.listdir(os.getcwd()):
    if file.endswith('.csv'):
        csv_files.append(file)  

csv_files

['Customer Contracts$.csv',
 'Customer Demo.csv',
 'Customer Engagements.csv',
 'customer_contracts.csv']

In [24]:
# Create new dir and move csv file
dataset_dir = 'datasets'
#create bash command to create dir
# mkdir datasets
# mkdir = 'mkdir {0}'.format(dataset_dir)
#to run bash command 
try:
    mkdir = 'mkdir {0}'.format(dataset_dir)
    os.system(mkdir)
    print(mkdir)
except:
    pass

mkdir datasets

mkdir: datasets: File exists

In [25]:
# move file to new directory
# mv file dir
for csv in csv_files:
    mv_files = "mv '{0}' {1}".format(csv, dataset_dir)
    print(mv_files)
    os.system(mv_files)

mv 'Customer Contracts$.csv' datasets
mv 'Customer Demo.csv' datasets
mv 'Customer Engagements.csv' datasets
mv 'customer_contracts.csv' datasets

In [26]:
# Create df from CSV file
file_path = os.getcwd()+'/'+dataset_dir+'/'
print(file_path)

/Users/gaurnitai/Desktop/Programming/Python/DataScience/yt/py-database/notebooks/datasets/

In [30]:
data_frames = {}
for file in csv_files:
    try:
        data_frames[file] = pd.read_csv(file_path+file)
    except UnicodeDecodeError:
        df[file] = pd.read_csv(file_path+file, encoding='ISO-8859-1')
    print(file)

Customer Contracts$.csv
Customer Demo.csv
Customer Engagements.csv
customer_contracts.csv

In [32]:
data_frames['Customer Contracts$.csv']

  customer_name  start_date    end_date  contract_amount_m invoice_sent paid
0          Nike  01-02-2019  12-20-2020               2.98          Yes  Yes
1        Reebox  06-20-2017         NaN               3.90           No   No
2        Adidas  12-07-2015   6-20-2018               4.82          Yes  Yes
3        Google  05-25-2014  03-20-2017               5.74          Yes   No
4        Amazon  11-10-2012  12-20-2015               6.66           No  Yes
5      Facebook  04-29-2011         NaN               7.58          Yes   No
6         Apple  10-15-2009         NaN               8.50          Yes  Yes
7        Airbnb  04-02-2008         NaN               9.42           No   No
8          Nest  09-19-2006         NaN               3.00          Yes  Yes
9         Canon  03-07-2005  09-20-2009              11.26          Yes   No

In [ ]:
def connect_to_db():
    try:
        conn = pg.connect(host=hostname, port=port, user=username, password=password)
    except ConnectionError as e:
        raise e
    else:
        print('Connected successfully....')
    return conn

In [ ]:
# Lets connect to database
hostname='localhost'
port='5433'
username='gaurnitai'
password='superuser'
database='gaurnitai'
conn=None

In [58]:
# conn = connect_to_db()
# curr = conn.cursor()

Connected successfully....

In [ ]:
# DROP table if there are any existing table --- BE CAREFUL, may be its not needed in your case
def drop_table(curr, table_name):
    query = """DROP TABLE IF EXISTS %s;"""
    curr.execute(query % table_name)

In [ ]:
#create table
def create_table(curr, table_name, cols):
    query = """CREATE TABLE IF NOT EXISTS {} ( {} );"""
    curr.execute(query.format(table_name, cols))

In [ ]:
#save data to csv and copy to database
def copy_data_from_csv_to_db(curr, filename, tablename, dataframe):
    dataframe.to_csv(filename, headers=dataframe.columns, index=False, encoding='UTF-8')
    print('Saved data from df to csv...')
    #save data from csv to db
    my_file = open(filename)
    print('Open file in memory...')
    SQL_STATEMENT = "COPY {0} FROM STDIN WITH CSV HEADER DELIMITER as ','".format(tablename)
    curr.copy_expert(sql=SQL_STATEMENT, file=my_file)

In [ ]:
# Since we have file name with space and $ or there may be possibility we have unwanted characters
# So lets remove unwanted spaces
# remove unwanted characters
# make lowercase
# replace space with underscore
for file in csv_files:
    dataframe = data_frames[file]
    clean_table_name = file.lower().replace(' ', '_').replace('?', '').replace('$','').replace('-','_') \
                    .replace('\\', '_').replace(r'/','_').replace(r',','_')
    print(clean_table_name)
    table_name = '{0}'.format(clean_table_name.split('.')[0]) # remove csv extension
    print(table_name)
    dataframe.columns = [x.lower().replace(' ', '_').replace('?', '').replace('$','').replace('-','_') \
                .replace('\\', '_').replace(r'/','_').replace(r',','_') for x in dataframe.columns]
    print(dataframe.columns)
    # replacement dict that maps pandas df dtype to sql dtype
    replacements = {
    'object': 'VARCHAR',
    'float64': 'FLOAT',
    'int64': 'INTEGER',
    'datetime64': 'TIMESTAMP',
    'timedelta64[ns]': 'VARCHAR'
    }
    col_str = ', '.join('{} {}'.format(col_name, data_type) 
                        for (col_name, data_type) in zip(dataframe.columns, 
                                                         dataframe.dtypes.replace(replacements)))
    print(col_str)
    conn = connect_to_db()
    curr = conn.cursor()
    # drop table if exist
    drop_table(curr, table_name)
    # create table
    create_table(curr, table_name=table_name, cols=col_str)
    # copy csv data to db
    copy_data_from_csv_to_db(curr, file, table_name)
#     conn.commit()
#     curr.close()